$containerWidth1920: 1290px;
$gridGap: 30px;
$orange: #FF6E30;
$black: #202020;
$white: #FFFFFF;
$dark-white: #E5E5E5;
$color-form1: #999999;
$color-form2: #E9E9E9;
$grey: #CACACA;
$dark-grey: #4A4A4A;
$active: #CE4307;
$focus: #BC572B;
$error: #F06666;

